# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/PIC/PIC10F322/LED_PWM/build/
/PIC/PIC10F322/LED_PWM/dist/
/AVR/ATtiny104/Serial/dist/
/AVR/ATtiny104/Serial/build/